<div class="container-fluid">
  <%= render partial: 'shared/partials/page_title', locals: { obj: @user.model_name.name } %>
</div>
<%= render partial: 'users/partials/form', locals: { method: :post, url: users_url } %>
