<div class="container-fluid">
  <%= render partial: 'shared/partials/page_title', locals: { obj: @admin.model_name.name } %>
</div>
<%= render partial: 'administrator/admins/partials/form', locals: { method: :post, url: administrator_admins_url } %>
