<div class="container-fluid">
  <%= render partial: 'administrator/shared/partials/page_title', locals: { obj: 'Product Category' } %>
</div>
<%= render partial: 'product_categories/partials/form', locals: { method: :post, url: product_categories_path } %>
