
<!-- Left sidebar start -->
<div class="leftside-menu">
  <!-- LOGO -->
  <a href="#" class="logo text-center logo-light">
  <span class="logo-lg">
  <img src="/assets/style/images/zyro-image.png" alt="" height="66">
  </span>
  <span class="logo-sm">
  <img src="/assets/style/images/zyro-image.png" alt="" height="66">
  </span>
  </a>
  <!-- LOGO -->
  <a href="#" class="logo text-center logo-dark">
  <span class="logo-lg">
  <img src="/assets/style/images/zyro-image.png" alt="" height="66">
  </span>
  <span class="logo-sm">
  <img src="/assets/style/images/zyro-image.png" alt="" height="66">
  </span>
  </a>
  <div class="h-100" id="leftside-menu-container" data-simplebar="">
    <!--- Sidemenu -->
    <ul class="side-nav">
      <li class="side-nav-title side-nav-item">Navigation</li>
      <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="#sidebarDashboards" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
        <i class="uil-home-alt"></i>
        <span> Dashboards </span>
        </a>

      </li>
      <li class="side-nav-item">
        <% if defined?(current_admin) && current_admin.admin? %>
          <%= link_to '<i class="uil-users-alt"></i> '.html_safe + 'Admins', administrator_admins_path, class: 'side-nav-link'%>
        <% end %>
      </li>
      <li class="side-nav-title side-nav-item">Apps</li>
      
      <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="#sidebarEcommerce" aria-expanded="false" aria-controls="sidebarEcommerce" class="side-nav-link">
        <i class="uil-store"></i>
        <span> Ecommerce </span>
        <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarEcommerce">
          <ul class="side-nav-second-level">
            <li>
              <a href="#">Products</a>
            </li>
            <li>
              <a href="#">Products Details</a>
            </li>
            <li>
              <a href="#">Orders</a>
            </li>
            <li>
              <a href="#">Order Details</a>
            </li>
            <li>
              <a href="#">Customers</a>
            </li>
            <li>
              <a href="#">Shopping Cart</a>
            </li>
            <li>
              <a href="#">Checkout</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="#sidebarEmail" aria-expanded="false" aria-controls="sidebarEmail" class="side-nav-link">
        <i class="uil-envelope"></i>
        <span> Email </span>
        <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarEmail">
          <ul class="side-nav-second-level">
            <li>
              <a href="#">Inbox</a>
            </li>
            <li>
              <a href="#">Read Email</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="#sidebarTasks" aria-expanded="false" aria-controls="sidebarTasks" class="side-nav-link">
        <i class="uil-clipboard-alt"></i>
        <span> Tasks </span>
        <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarTasks">
          <ul class="side-nav-second-level">
            <li>
              <a href="#">List</a>
            </li>
            <li>
              <a href="#">Details</a>
            </li>
            <li>
              <a href="#">Create Task</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="side-nav-item">
        <a href="#" class="side-nav-link">
        <i class="uil-folder-plus"></i>
        <span> File Manager </span>
        </a>
      </li>
    </ul>
    <!-- End Sidebar -->
    <div class="clearfix"></div>
  </div>
  <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->
