<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <%= link_to 'Hopee', administrator_root_path %>
          </li>
          <li class="breadcrumb-item">
            <%= link_to 'Dashboards', administrator_root_path %>
          </li>
          <li class="breadcrumb-item active">
            <%= link_to 'Admins', administrator_admins_path %>
          </li>
        </ol>
      </div>
      <h4 class="page-title">Admins</h4>
    </div>
  </div>
</div>
